<div class="cabecalho-vendas">
  <h2 class="titulo-vendas">📊 Histórico de Vendas</h2>
  <button class="botao-registrar" routerLink="/vendas/registro">➕ Registrar Venda</button>
</div>

<!--Formulário de filtros -->
<div class="filtros-vendas">
  <input type="date" [(ngModel)]="filtroInicio" placeholder="Data início" />
  <input type="date" [(ngModel)]="filtroFim" placeholder="Data fim" />

  <select [(ngModel)]="filtroProduto">
    <option value="">Todos os produtos</option>
    <option *ngFor="let p of produtos" [value]="p.nome">{{ p.nome }}</option>
  </select>

  <input type="number" [(ngModel)]="filtroMinTotal" placeholder="Valor mínimo" />
  <input type="number" [(ngModel)]="filtroMaxTotal" placeholder="Valor máximo" />

  <button (click)="aplicarFiltros()">Filtrar</button>
  <button (click)="limparFiltros()">Limpar</button>
  
</div>


<div class="acoes-filtro">
  <button (click)="verDetalhes()">🔍 Ver Detalhes</button>
  <button (click)="imprimirFiltrados()">🖨️ Imprimir Filtrados</button>
  <div id="area-impressao">
  <div *ngFor="let venda of vendasFiltradas" class="venda-card">
    <h3 class="venda-titulo">🧾 Venda #{{ venda.id }} - {{ venda.data_venda | date:'short' }}</h3>
    <p class="venda-total"><strong>Total:</strong> {{ venda.total | currency:'XOF':'symbol':'1.0-0' }}</p>

    <table class="tabela-itens">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Qtd</th>
          <th>Preço Unitário</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of venda.itens">
          <td>{{ item.produto?.nome }}</td>
          <td>{{ item.quantidade }}</td>
          <td>{{ item.preco_unitario | number:'1.2-2' }}</td>
          <td>{{ item.subtotal | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>

    <hr />
  </div>
</div>
</div>
<hr/>

<!-- Lista de vendas -->

<div *ngFor="let venda of vendasFiltradas" class="venda-card">
  <h3 class="venda-titulo">🧾 Venda #{{ venda.id }} - {{ venda.data_venda | date:'short' }}</h3>
  <p class="venda-total"><strong>Total:</strong> {{ venda.total | currency:'XOF':'symbol':'1.0-0' }}</p>

  <table class="tabela-itens">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Qtd</th>
        <th>Preço Unitário</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of venda.itens">
        <td>{{ item.produto?.nome }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.preco_unitario }}</td>
        <td>{{ item.subtotal }}</td>
      </tr>
    </tbody>
  </table>
</div>