.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 220px; // largura fixa
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

app-header {
  height: 80px; // altura do header estreito
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

app-sidebar {
  flex: 1;
  overflow-y: auto;
}

.conteudo {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #fafafa;
}