<aside class="sidebar">
  
  <h3>
    <nav>
      <ul>
        <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
        <li routerLink="/inventario" routerLinkActive="active">Inventário</li>
        <li routerLink="/produtos/cadastro" routerLinkActive="active">Cadastro-Produto</li>
        <li routerLink="/produtos/listagem" routerLinkActive="active">Produtos</li>
        <li routerLink="/vendas/listagem" routerLinkActive="active">Vendas</li>
        <li routerLink="/estoque" routerLinkActive="active">Estoque</li>
        <li routerLink="/categorias" routerLinkActive="active">Categorias</li>
        <li routerLink="/fornecedores" routerLinkActive="active">Fornecedores</li>
        <li routerLink="/configuracoes" routerLinkActive="active">Configurações</li>

        <hr />

        <li>
          <button (click)="onLogout()" class="btn btn-danger">Sair</button>
        </li>
      </ul>
    </nav>
  </h3>
</aside>