<aside class="sidebar">
  <div class="logo">Mini-Mercado</div>
  <h2 class="sidebar-subtitle">Menu</h2>
  <h3>
  <nav>
    <ul>
      <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
      <li routerLink="/produtos/cadastro" routerLinkActive="active">Ir para Cadastro</li>
      <li routerLink="/produtos/listagem" routerLinkActive="active">Produtos</li>
      <li routerLink="/vendas/registro" routerLinkActive="active">Vendas</li>
      <li routerLink="/estoque/movimentacoes" routerLinkActive="active">Estoque</li> 
      <li routerLink="/categorias" routerLinkActive="active">Categorias</li>
      <li routerLink="/fornecedores" routerLinkActive="active">Fornecedores</li>

      <li routerLink="/configuracoes" routerLinkActive="active">Configurações</li>
    </ul>
  </nav>
  </h3>
</aside>