<h2>📦 Produtos Cadastrados</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Código de Barras</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{ produto.nome }}</td>
      <td>{{ produto.codigo_barras }}</td>
      <td>{{ produto.preco | currency:'XOF' }}</td>
      <td>{{ produto.quantidade }}</td>
      <td>{{ produto.categoria?.nome }}</td>
    </tr>
  </tbody>
</table>

<div class="filtros">
  <input type="text" [(ngModel)]="filtroNome" placeholder="Filtrar por nome" />
  
 <select [(ngModel)]="filtroCategoria">
  <option value="">Todas as categorias</option>
  <option *ngFor="let cat of categorias" [value]="cat.nome">{{ cat.nome }}</option>
</select>

  <input type="number" [(ngModel)]="precoMin" placeholder="Preço mínimo" />
  <input type="number" [(ngModel)]="precoMax" placeholder="Preço máximo" />

  <button (click)="aplicarFiltros()">Filtrar</button>
  <button (click)="limparFiltros()">Limpar</button>
  <div class="opcoes">
  <button (click)="ordenarPor('nome')">Ordenar por Nome</button>
  <button (click)="ordenarPor('preco')">Ordenar por Preço</button>
  <button (click)="exportarCSV()">Exportar CSV</button>
</div>

  <div class="opcoes-cadastro">
    <button (click)="irParaCadastro()">➕ Cadastrar Novo Produto</button>
  </div>
</div>


