<h2> ⚙️ Gestão de Categorias</h2>
<hr class="divisor"/>

<form (ngSubmit)="salvarCategoria()">
  <input [(ngModel)]="categoria.nome" name="nome" placeholder="Nome da categoria" required />
  <button type="submit">Salvar</button>
</form>

<p *ngIf="mensagem" class="mensagem-sucesso">{{ mensagem }}</p>

<ul>
  <li *ngFor="let cat of categorias">
    <span>{{ cat.nome }}</span>
    <div class="actions">
      <button class="editar" (click)="editar(cat)">Editar</button>
      <button class="excluir" (click)="deletar(cat.id!)">Excluir</button>
    </div>
  </li>
</ul>